<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>SF Atarian System Extended.ttf</string>
		<string>SF Atarian System Extended Bold.ttf</string>
	</array>
    <key>NSCameraUsageDescription</key>
    <string>We need camera access to take profile picture</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>We need photo library access to select profile picture</string>
</dict>
</plist>
